<!doctype html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <title>3D Storage</title>

    <script type="importmap">
      {
        "imports": {
          "three": "https://unpkg.com/three@0.160.0/build/three.module.js",
          "three/addons/": "https://unpkg.com/three@0.160.0/examples/jsm/"
        }
      }
    </script>

    {% load static %}
    <link rel="stylesheet" href="{% static 'gallery/style.css' %}" />
  </head>
  <body>
    <header>
      <h1>{{ page_title }}</h1>
      <!-- Ссылка на загрузку теперь выглядит как кнопка -->
      <a href="{% url 'upload' %}" class="btn" style="background-color: #28a745"
        >+ Загрузить модель</a
      >
    </header>
    <main>
      <!-- Контейнер сетки -->
      <div class="gallery-grid">
        {% for asset in assets %}
        <!-- Карточка -->
        <div class="asset-card">
          <div
            class="card-preview"
            id="model-container-{{ asset.id }}"
            data-url="{{ asset.file.url }}"
          >
            ⌛
          </div>
          <!-- 2. Информация (Нижняя часть) -->
          <div class="card-info">
            <h3 class="card-title">{{ asset.title }}</h3>

            <div class="card-meta">
              <span> 📅 {{ asset.created_at|date:"d M Y" }}</span>
              <!-- Если есть файл, показываем размер -->
              {% if asset.file %}
              <span style="float: right">
                💾 {{ asset.file.size|filesizeformat }}</span
              >
              {% endif %}
            </div>
            <!-- Кнопка скачивания -->
            {% if asset.file %}
            <a href="{{ asset.file.url }}" class="btn" download>Скачать .glb</a>
            {% else %}
            <span style="color: red">Файл потерян</span>
            {% endif %}
          </div>
        </div>
        {% empty %}
        <p>База пуста.</p>
        {% endfor %}
      </div>
    </main>

    <script type="module">
      // Импортируем нашу функцию.
      // Обратите внимание: путь к JS через static
      import { mountSimpleCube } from "{% static 'gallery/js/viewer.js' %}";
      // Находим все контейнеры карточек
      const containers = document.querySelectorAll(".card-preview");
      if (containers.length > 0) {
        // Берем только первый контейнер для теста
        const firstContainer = containers[0];

        const containerId = firstContainer.id;

        mountSimpleCube(containerId);
      }
      // Запускаем магию
    </script>
  </body>
</html>
